Repository depromeet/amazing3-fe, pull requests merged in 2023-12, with the labels that each got.

#14 chore: workflow 내용 일부 수정 및 테스트 파일 제거
  .github/workflows/chromatic.yml
  src/components/(test)/TestBox.stories.tsx
  src/components/(test)/TestBox.tsx
Labels: chore

#17 chore: stories 파일이 있을 경우에만 workflow 실행되도록
  .github/workflows/chromatic.yml
Labels: chore

#16 feat: 목표 설정 페이지 플로우 구현
  src/app/goal/new/date/page.tsx
  src/app/goal/new/emoji/page.tsx
  src/app/goal/new/goal/page.tsx
  src/app/goal/new/more/page.tsx
  src/app/goal/new/result/page.tsx
  src/app/goal/new/subgoal/page.tsx
  src/app/goal/new/tag/page.tsx
  src/features/goal/components/index.ts
  src/features/goal/components/new/DateForm.tsx
  src/features/goal/components/new/EmojiForm.tsx
  src/features/goal/components/new/GoalForm.tsx
  src/features/goal/components/new/MoreForm.tsx
  src/features/goal/components/new/ResultGoal.tsx
  src/features/goal/components/new/SubgoalForm.tsx
  src/features/goal/components/new/TagForm.tsx
  src/features/goal/components/new/index.ts
Labels: feature

#15 chore: 목표 설정 페이지 react-hook-form 설정
  .pnp.cjs
  next.config.js
  package.json
  src/app/goal/new/date/page.tsx
  src/app/goal/new/emoji/page.tsx
  src/app/goal/new/goal/page.tsx
  src/app/goal/new/layout.tsx
  src/app/goal/new/more/page.tsx
  src/app/goal/new/result/page.tsx
  src/app/goal/new/subgoal/page.tsx
  src/app/goal/new/tag/page.tsx
  src/features/.gitkeep
  src/features/goal/components/index.ts
  src/features/goal/components/new/DateForm.tsx
  src/features/goal/components/new/EmojiForm.tsx
  src/features/goal/components/new/GoalForm.tsx
  src/features/goal/components/new/MoreForm.tsx
  src/features/goal/components/new/ResultGoal.tsx
  src/features/goal/components/new/SubgoalForm.tsx
  src/features/goal/components/new/TagForm.tsx
  src/features/goal/components/new/index.ts
  src/features/goal/contexts/CreateGoalFormProvider.tsx
  src/features/goal/types/form.ts
  src/features/goal/types/index.ts
  src/hooks/useIsMounted.ts
  yarn.lock
Labels: chore

#18 feat: Typography atom, LimitedLengthInput molecule 구현, 스토리북 path alias 설정 추가, components barrel export 적용
  .storybook/main.ts
  src/app/member/new/age/page.tsx
  src/app/member/new/nickname/page.tsx
  src/components/.gitkeep
  src/components/atoms/Input/index.ts
  src/components/atoms/button/Button.stories.tsx
  src/components/atoms/button/Button.tsx
  src/components/atoms/button/index.ts
  src/components/atoms/index.ts
  src/components/atoms/input/Input.stories.tsx
  src/components/atoms/input/Input.tsx
  src/components/atoms/input/index.ts
  src/components/atoms/typography/Typography.stories.tsx
  src/components/atoms/typography/Typography.tsx
  src/components/atoms/typography/index.ts
  src/components/index.ts
  src/components/molecules/index.ts
  src/components/molecules/limitedLengthInput/LimitedLengthInput.stories.tsx
  src/components/molecules/limitedLengthInput/LimitedLengthInput.tsx
  src/components/molecules/limitedLengthInput/index.ts
Labels: feature

#20 chore: Figma 디자인 시스템 tailwindCSS theme에 등록
  src/app/globals.css
  src/assets/fonts/Insungit/insungit-Cutelively-jisu-Regular.ttf
  src/assets/fonts/Pretendard/Pretendard-Black.woff
  src/assets/fonts/Pretendard/Pretendard-Black.woff2
  src/assets/fonts/Pretendard/Pretendard-Bold.woff
  src/assets/fonts/Pretendard/Pretendard-Bold.woff2
  src/assets/fonts/Pretendard/Pretendard-ExtraBold.woff
  src/assets/fonts/Pretendard/Pretendard-ExtraBold.woff2
  src/assets/fonts/Pretendard/Pretendard-ExtraLight.woff
  src/assets/fonts/Pretendard/Pretendard-ExtraLight.woff2
  src/assets/fonts/Pretendard/Pretendard-Light.woff
  src/assets/fonts/Pretendard/Pretendard-Light.woff2
  src/assets/fonts/Pretendard/Pretendard-Medium.woff
  src/assets/fonts/Pretendard/Pretendard-Medium.woff2
  src/assets/fonts/Pretendard/Pretendard-Regular.woff
  src/assets/fonts/Pretendard/Pretendard-Regular.woff2
  src/assets/fonts/Pretendard/Pretendard-SemiBold.woff
  src/assets/fonts/Pretendard/Pretendard-SemiBold.woff2
  src/assets/fonts/Pretendard/Pretendard-Thin.woff
  src/assets/fonts/Pretendard/Pretendard-Thin.woff2
  styles/theme/backgroundImage.ts
  styles/theme/borderRadius.ts
  styles/theme/colors.ts
  styles/theme/index.ts
  styles/theme/spacing.ts
  tailwind.config.ts
Labels: chore

#22 feat: ContentWrapper 컴포넌트 및 Story 추가
  src/components/molecules/contentWrapper/ContentWrapper.stories.tsx
  src/components/molecules/contentWrapper/ContentWrapper.tsx
  src/components/molecules/contentWrapper/index.ts
  src/components/molecules/index.ts
Labels: feature

#24 feat: 로그인, 닉네임, 생년월일 입력 페이지 구현 및 디자인 반영
  src/app/member/new/age/page.tsx
  src/app/member/new/birthday/page.tsx
  src/app/member/new/layout.tsx
  src/app/member/new/nickname/page.tsx
  src/app/page.tsx
  src/assets/icons/google-icon.svg
  src/components/atoms/button/Button.tsx
  src/components/atoms/input/Input.tsx
  src/components/molecules/contentWrapper/ContentWrapper.tsx
  src/components/molecules/limitedLengthInput/LimitedLengthInput.tsx
  src/features/auth/components/GoogleLoginButton.tsx
  src/features/auth/components/index.ts
  src/features/member/components/index.ts
  src/features/member/components/new/BirthdayInputForm.tsx
  src/features/member/components/new/NicknameInputForm.tsx
  src/features/member/components/new/index.ts
  src/features/member/contexts/NewMemberFormProvider.tsx
  src/features/member/types/form.ts
  src/features/member/types/index.ts
  styles/theme/boxShadow.ts
  styles/theme/index.ts
  tailwind.config.ts
Labels: feature

#27 feat: 목표 추가 페이지 배경 설정
  src/app/goal/new/layout.tsx
  src/assets/images/bandi-boodi.png
  src/assets/images/bg-speech-bubble.svg
  src/assets/images/bg-stars.svg
  src/assets/images/bg-wave.svg
  src/features/auth/components/GoogleLoginButton.tsx
Labels: feature

#28 chore: atom/Button에 디자인 시스템 적용
  src/components/atoms/bottomSheet/BottomSheet.stories.tsx
  src/components/atoms/button/Button.stories.tsx
  src/components/atoms/button/Button.tsx
  src/features/auth/components/GoogleLoginButton.tsx
  src/features/goal/components/new/GoalForm.tsx
Labels: chore

#33 feat: Tag 컴포넌트 추가
  src/components/atoms/index.ts
  src/components/atoms/tag/Tag.stories.tsx
  src/components/atoms/tag/Tag.tsx
  src/components/atoms/tag/index.ts
Labels: feature

#31 chore: 스플래시 화면 디자인 적용
  src/app/page.tsx
  src/assets/images/bandiboodi-splash.png
  src/assets/images/logo.png
  src/features/auth/components/GoogleLoginButton.tsx
  tailwind.config.ts
Labels: chore

#35 chore: 반디부디 이미지에 priority 부여
  src/app/page.tsx
Labels: chore

#38 feat: 로그인 기능 react-query 적용 및 전역 상태 관리
  src/apis/.gitkeep
  src/apis/httpClient.ts
  src/app/login/oauth2/code/google/page.tsx
  src/constants/index.ts
  src/constants/tokenKey.ts
  src/features/auth/atom/index.ts
  src/features/member/atoms/index.ts
  src/hooks/.gitkeep
  src/hooks/reactQuery/auth/index.ts
  src/hooks/reactQuery/auth/useGetMemberData.ts
Labels: feature

#39 feat: 닉네임, 생년월일 페이지 업데이트
  src/app/member/new/birthday/page.tsx
  src/app/member/new/layout.tsx
  src/app/member/new/nickname/page.tsx
  src/assets/icons/birth-icon.svg
  src/assets/icons/smile-iocn.svg
  src/constants/input.ts
  src/features/member/components/new/BirthdayInputForm.tsx
  src/features/member/components/new/FormLayout.tsx
  src/features/member/components/new/NicknameInputForm.tsx
Labels: feature

#44 feat: goal / tag / sticker / auth api hook 구현
  src/hooks/reactQuery/auth/index.ts
  src/hooks/reactQuery/auth/useCreateMemberData.ts
  src/hooks/reactQuery/goal/index.ts
  src/hooks/reactQuery/goal/useCreateGoal.ts
  src/hooks/reactQuery/goal/useDeleteGoal.ts
  src/hooks/reactQuery/goal/useGetGoal.ts
  src/hooks/reactQuery/goal/useGetGoals.ts
  src/hooks/reactQuery/sticker/index.ts
  src/hooks/reactQuery/sticker/useGetStickers.ts
  src/hooks/reactQuery/tag/index.ts
  src/hooks/reactQuery/tag/useGetTags.ts
Labels: feature

#45 feat: goal 추가 화면의 tag 추가 기능 구현
  src/components/atoms/tag/Tag.tsx
  src/features/goal/components/new/TagForm.tsx
  src/features/goal/types/form.ts
Labels: feature

#46 feat: goal 추가 화면의 sticker 추가 기능 구현
  src/app/goal/new/layout.tsx
  src/features/goal/components/new/GoalForm.tsx
  src/features/goal/components/new/StickerForm.tsx
  src/features/goal/components/new/TagForm.tsx
Labels: feature

#47 feat: 목표 추가 api 연동 및 결과 페이지 연동
  next.config.js
  src/assets/stickers/target-512x512.png
  src/features/goal/components/detail/ContentBody.tsx
  src/features/goal/components/detail/Sticker.tsx
  src/features/goal/components/detail/atom/index.ts
  src/features/goal/components/detail/types/goal.ts
  src/features/goal/components/detail/types/index.ts
  src/features/goal/components/new/MoreForm.tsx
  src/features/goal/contexts/CreateGoalFormProvider.tsx
  src/hooks/reactQuery/goal/useCreateGoal.ts
Labels: feature

#49 chore: 스플래시 화면 - 그라데이션 경계 조정 및 blur 이미지 삽입
  src/app/home/layout.tsx
  src/app/page.tsx
  src/assets/images/purple-blur.png
  tailwind.config.ts
Labels: chore

#36 feat: 인생지도 이미지 다운로드 기능 구현
  .pnp.cjs
  package.json
  src/app/home/layout.tsx
  src/assets/icons/download.svg
  src/components/atoms/spinner/Spinner.stories.tsx
  src/components/atoms/spinner/Spinner.tsx
  src/components/atoms/spinner/index.ts
  src/components/molecules/contentWrapper/ContentWrapper.tsx
  src/features/home/components/lifeMap/LifeMap.tsx
  src/features/home/components/shareButton/ShareButton.tsx
  src/hooks/useDownloadImage.ts
  yarn.lock
Labels: feature

#50 chore: not-found(404) 라우팅 및 errorPageLayout 디자인 적용
  src/app/not-found.tsx
  src/assets/images/bandiboodi_error.png
  src/assets/images/error/404.png
  src/assets/images/error/500.png
  src/assets/images/error/error.png
  src/features/customErrors/components/errorPageLayout/ErrorPageLayout.tsx
  src/features/customErrors/components/errorPageLayout/index.ts
  src/features/customErrors/components/index.ts
Labels: chore

#51 feat: 상세 목표 화면 개발 및 api 연동
  src/app/goal/[id]/page.tsx
  src/app/goal/detail/[id]/page.tsx
  src/app/goal/detail/saved/page.tsx
  src/assets/icons/goal/arrow-icons.svg
  src/assets/icons/goal/delete-icon.svg
  src/assets/images/bandi-moori.png
  src/components/atoms/bottomSheet/BottomSheet.tsx
  src/components/atoms/bottomSheet/style.css
  src/features/goal/components/detail/DeleteGoalButtomSheet.tsx
  src/features/goal/components/detail/DetailFooterButton.tsx
  src/features/goal/components/detail/DetailHeader.tsx
  src/features/goal/components/detail/DetailLayout.tsx
  src/features/goal/components/detail/GoalDetailContent.tsx
  src/features/goal/components/detail/Sticker.tsx
  src/features/goal/components/detail/atom/index.ts
  src/features/goal/components/detail/index.ts
  src/features/home/components/MapCardCollections/MapCard/MapCard.tsx
  src/hooks/reactQuery/goal/useDeleteGoal.ts
  src/hooks/reactQuery/goal/useGetGoal.ts
Labels: feature

#53 chore: OAuth 연동 이슈 해결
  src/features/auth/components/GoogleLoginButton.tsx
Labels: chore

#52 feat: 새로운 유저 등록 API (PUT "/my") 연결
  src/app/member/new/birth/page.tsx
  src/app/member/new/birthday/page.tsx
  src/features/member/components/new/BirthInputForm.tsx
  src/features/member/components/new/NicknameInputForm.tsx
  src/features/member/components/new/index.ts
  src/features/member/contexts/NewMemberFormProvider.tsx
  src/features/member/types/form.ts
Labels: feature

#55 feat: 홈화면 api 연동 (useGetGoals)
  .yarn/cache/html-to-image-npm-1.11.11-faab8eba97-10c0.zip
  src/app/home/layout.tsx
  src/app/home/page.tsx
  src/components/atoms/star/Star.tsx
  src/features/home/components/MapCardCollections/MapCard/MapCard.stories.tsx
  src/features/home/components/MapCardCollections/MapCard/MapCard.tsx
  src/features/home/components/lifeMap/LifeMap.tsx
  src/features/home/components/mapCardPositioner/MapCardPositioner.stories.tsx
  src/features/home/components/mapCardPositioner/MapCardPositioner.tsx
  src/features/home/components/mapCardPositioner/MapCardPositioner.utils.ts
  src/features/home/types/index.ts
  src/features/home/types/mapCard.ts
  src/hooks/reactQuery/goal/useGetGoals.ts
Labels: feature

#56 bug: 배포 전 버그 수정 (온보딩, 에러 페이지, 홈, 목표 추가, 상세 페이지)
  next.config.js
  src/apis/httpClient.ts
  src/app/globals.css
  src/app/home/page.tsx
  src/app/login/oauth2/code/google/page.tsx
  src/features/customErrors/components/errorPageLayout/ErrorPageLayout.tsx
  src/features/goal/components/detail/DeleteGoalButtomSheet.tsx
  src/features/goal/components/detail/DetailFooterButton.tsx
  src/features/goal/components/detail/DetailLayout.tsx
  src/features/goal/components/detail/GoalDetailContent.tsx
  src/features/goal/components/new/MoreForm.tsx
  src/features/goal/components/new/StickerForm.tsx
  src/features/home/components/lifeMap/LifeMap.tsx
  src/features/member/types/form.ts
  src/features/onboarding/components/onboardingBody/OnboardingBody.tsx
  src/hooks/useDownloadImage.ts
  src/middleware.ts
Labels: bug

#60 feat: metadata 및 favicon 추가
  src/app/icon.ico
  src/app/layout.tsx
  src/app/og-image.png
  src/constants/index.ts
  src/constants/metadata.ts
Labels: feature

#64 bug: 홈화면 MapCard 제대로 렌더링되지 못한 이슈 해결
  src/features/home/components/lifeMap/LifeMap.tsx
  src/features/home/components/mapCardPositioner/MapCardPositioner.tsx
  src/features/home/components/mapCardPositioner/MapCardPositioner.utils.ts
Labels: bug

#65 bug: 홈화면에서 닉네임 없을 경우 레이아웃에 br 추가 (임시)
  src/features/home/components/lifeMap/LifeMap.tsx
Labels: bug

#66 bug: invalidQueries 동작 관련 이슈 해결
  src/features/home/components/lifeMap/LifeMap.tsx
  src/features/home/components/mapCardPositioner/MapCardPositioner.tsx
  src/hooks/reactQuery/goal/useGetGoals.ts
Labels: bug

#67 bug: 홈화면 edge 이슈 해결
  src/features/home/components/MapCardCollections/EmptyMapCard/EmptyMapCard.tsx
  src/features/home/components/MapCardCollections/MapCardLayout.tsx
  src/features/home/components/MapCardCollections/StartMapCard/StartMapCard.tsx
  src/features/home/components/lifeMap/LifeMap.tsx
Labels: bug

#68 bug: dvh 적용
  src/app/globals.css
  src/app/goal/new/layout.tsx
  src/app/home/layout.tsx
  src/app/member/new/layout.tsx
  src/app/onboarding/layout.tsx
  src/app/page.tsx
  src/features/customErrors/components/errorPageLayout/ErrorPageLayout.tsx
  src/features/home/components/lifeMap/LifeMap.tsx
Labels: bug

#69 bug: 홈화면 레이아웃 조정
  src/app/page.tsx
Labels: bug

#72 bug: og tag에서 불필요한 부분 제거 및 ogImage 명시
  public/icon.ico
  public/opengraph-image.png
  src/app/layout.tsx
  src/app/opengraph-image.png
  src/constants/metadata.ts
Labels: bug

#73 fix: ios에서 이미지 다운로드가 제대로 되지 않는 버그 해결
  .pnp.cjs
  package.json
  src/hooks/useDownloadImage.ts
  src/utils/image.ts
  src/utils/userAgent.ts
  yarn.lock
Labels: bug

#74 fix: 카카오톡 인앱 브라우저로 접근 시, 외부 브라우저로 이동하도록 수정
  src/contexts/Providers.tsx
  src/hooks/useOpenExternalBrowser.ts
  src/utils/userAgent.ts
Labels: bug

#75 bug: favicon 사이즈 축소 (→48x48)
  public/icon.ico
  src/app/icon.ico
Labels: bug

#79 bug: SEO를 위한 sitemap.xml, robots.txt 추가
  .yarn/cache/modern-screenshot-npm-4.4.37-bffef63713-10c0.zip
  src/app/layout.tsx
  src/app/robots.txt
  src/app/sitemap.xml
Labels: bug

#76 fix: 다운로드 이미지 상단에 여백 추가
  src/hooks/useDownloadImage.ts
Labels: bug

#78 refactor: font optimization 적용
  src/app/fonts.ts
  src/app/globals.css
  src/app/layout.tsx
  tailwind.config.ts
Labels: refactor

#81 bug: icon 파일 충돌 문제로 500 에러 발생하는 이슈 해결
  public/icon-192.png
  public/icon-512.png
  public/icon.ico
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/icon.ico
  src/app/layout.tsx
  src/app/manifest.webmanifest
Labels: bug

#80 chore: sentry 추가
  .pnp.cjs
  next.config.js
  package.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/global-error.tsx
  yarn.lock
Labels: chore
