Repository depromeet/amazing3-fe, pull requests merged in 2024-01, with the labels that each got.

#82 bug: tag, sticker 돌아오면 선택 안되어 있는 문제 해결
  src/features/goal/components/new/StickerForm.tsx
  src/features/goal/components/new/TagForm.tsx
Labels: bug

#83 bug: 사용자 상태에 따른 onboarding 시작하기 기능 분리 및 metadata 수정
  src/app/layout.tsx
  src/app/onboarding/layout.tsx
  src/constants/metadata.ts
  src/features/onboarding/components/onboardingBody/OnboardingBody.tsx
  src/hooks/reactQuery/auth/useCreateMemberData.ts
  src/hooks/reactQuery/auth/useGetMemberData.ts
Labels: bug

#87 bug: 생년월일 입력시 닉네임이 undefined로 보이는 현상
  src/features/member/components/new/BirthInputForm.tsx
Labels: bug

#86 bug: 모바일 환경 safari에서 생년월일 입력폼 깨짐 수정
  src/constants/input.ts
  src/features/goal/components/new/DateInput.tsx
  src/features/goal/utils/date.ts
  src/features/member/components/new/BirthInputForm.tsx
  src/features/member/components/new/NicknameInputForm.tsx
Labels: bug

#77 bug: invalidQueries 적용 이슈 해결
  src/contexts/reactQuery/QueryClientProvider.tsx
  src/hooks/reactQuery/goal/useDeleteGoal.ts
  src/hooks/reactQuery/goal/useGetGoals.ts
Labels: bug

#93 [긴급] bug: Birth Day 입력 필드에서 잘못 설정된 포맷 수정
  src/features/member/contexts/NewMemberFormProvider.tsx
Labels: bug

#95 bug: initialSlide가 0인 경우 Swiper가 출력되지 않는 이슈
  src/features/home/components/mapSwiper/MapSwiper.tsx
Labels: bug

#98 [긴급] bug: 서버에서 oauth redirection 경로 변경에 따른 코드 수정
  src/app/oauth2/token/page.tsx
Labels: bug

#99 bug: MapCard 레이아웃 이슈 해결
  src/features/home/components/MapCardCollections/MapCard/MapCard.stories.tsx
  src/features/home/components/MapCardCollections/MapCard/MapCard.tsx
  src/features/home/components/MapCardCollections/MapCardLayout.tsx
Labels: bug

#97 bug: /onboarding, /home, /goal/saved, /goal/detail에 있는 이슈 해결
  src/app/goal/detail/saved/page.tsx
  src/app/layout.tsx
  src/app/onboarding/layout.tsx
  src/app/sitemap.xml
  src/constants/metadata.ts
  src/features/goal/components/detail/ContentBody.tsx
  src/features/goal/components/detail/DeleteGoalButtomSheet.tsx
  src/features/goal/components/detail/DetailHeader.tsx
  src/features/goal/components/detail/GoalDetailContent.tsx
  src/features/goal/components/detail/SavedFooterButton.tsx
  src/features/goal/components/detail/SavedHeader.tsx
  src/features/goal/components/detail/Sticker.tsx
  src/features/goal/components/detail/atom/index.ts
  src/features/goal/components/new/MoreForm.tsx
  src/features/home/components/currentPositionCover/CurrentPositionCover.tsx
  src/features/home/components/lifeMap/LifeMap.tsx
  src/features/home/components/mapCardPositioner/MapCardPositioner.tsx
  src/features/member/components/new/NicknameInputForm.tsx
  src/features/onboarding/components/onboardingBody/OnboardingBody.tsx
  src/hooks/reactQuery/auth/useGetMemberData.ts
Labels: bug

#91 chore: Google Analytics 추가
  src/app/layout.tsx
  src/features/analyzer/GoogleAnalytics.tsx
  src/features/analyzer/index.ts
Labels: chore

#100 feat: 세부 목표 페이지에 필요한 컴포넌트 추가
  src/assets/icons/ellipsis-vertical.svg
  src/assets/icons/goal/radio/radio-checked.svg
  src/assets/icons/goal/radio/radio-unchecked.svg
  src/assets/icons/plus.svg
  src/assets/icons/star-rate.svg
  src/assets/icons/submit.svg
  src/assets/images/bandiboodi-sub-goal.png
  src/components/atoms/input/Input.stories.tsx
  src/components/atoms/input/Input.tsx
  src/components/molecules/goalDetail/GoalDetail.stories.tsx
  src/components/molecules/goalDetail/GoalDetail.tsx
  src/components/molecules/goalDetail/index.ts
  src/features/goal/components/detail/AddSubGoalPrompt.tsx
  src/features/goal/components/detail/index.ts
  src/hooks/useInput.ts
  styles/theme/backgroundImage.ts
Labels: feature

#102 feat: 목표 추가 기능 구현
  src/components/atoms/input/Input.tsx
  src/components/molecules/goalDetail/GoalDetail.tsx
  src/components/molecules/index.ts
  src/features/goal/components/detail/AddTaskInput.tsx
  src/features/goal/components/detail/AddTaskPrompt.tsx
  src/features/goal/components/detail/DetailLayout.tsx
  src/features/goal/components/detail/GoalDetailContent.tsx
  src/features/goal/components/detail/Tasks.tsx
  src/features/goal/components/detail/index.ts
  src/hooks/index.ts
  src/hooks/reactQuery/goal/useCreateTask.ts
  src/hooks/reactQuery/goal/useGetGoal.ts
  src/hooks/useFocusInput.ts
  src/hooks/useOutsideClick.ts
Labels: feature

#101 feat: 마이페이지 추가
  src/app/my/layout.tsx
  src/app/my/page.tsx
  src/assets/icons/edit-icon.svg
  src/assets/icons/forward-icon.svg
  src/assets/icons/star-icon.svg
  src/assets/images/feedback.png
  src/assets/images/profile-card.svg
  src/components/atoms/span/Span.tsx
  src/components/atoms/spinner/Spinner.tsx
  src/features/my/components/MyPageBody.tsx
  src/features/my/components/MyPageBottomSheet.tsx
  src/features/my/components/MyPageHeader.tsx
  src/features/my/components/MyPageLayout.tsx
  src/features/my/components/index.ts
  src/features/my/components/lifeMapPrivacySetting/LifeMapPrivacySetting.tsx
  src/features/my/components/lifeMapPrivacySetting/RadioButton.tsx
  src/features/my/components/lifeMapPrivacySetting/RadioButtonGroup.tsx
  src/features/my/components/lifeMapPrivacySetting/index.ts
  src/features/my/components/logoutBottomSheet/Footer.tsx
  src/features/my/components/logoutBottomSheet/LogoutBottomSheet.tsx
  src/features/my/components/logoutBottomSheet/index.ts
  src/features/my/components/userProfile/ProfileCard.tsx
  src/features/my/components/userProfile/UserInfo.tsx
  src/features/my/components/userProfile/UserProfile.tsx
  src/features/my/components/userProfile/index.ts
  src/features/my/components/withdrawBottomSheet/Footer.tsx
  src/features/my/components/withdrawBottomSheet/WithdrawBottomSheet.tsx
  src/features/my/components/withdrawBottomSheet/index.ts
  src/features/my/constants/index.ts
  src/features/my/constants/myPage.ts
Labels: feature

#104 feat: 로그인 유도 BottomSheet 추가
  src/assets/icons/google.svg
  src/assets/icons/kakao.svg
  src/assets/icons/naver.svg
  src/assets/icons/reverse-triangle.svg
  src/assets/images/bandiboodi-3d.png
  src/components/atoms/index.ts
  src/components/atoms/toolTip/ToolTip.stories.tsx
  src/components/atoms/toolTip/ToolTip.tsx
  src/components/atoms/toolTip/index.ts
  src/components/molecules/index.ts
  src/components/molecules/loginIconSet/LoginIconSet.stories.tsx
  src/components/molecules/loginIconSet/LoginIconSet.tsx
  src/components/molecules/loginIconSet/index.ts
  src/features/home/components/loginBottomSheet/LoginBottomSheet.stories.tsx
  src/features/home/components/loginBottomSheet/LoginBottomSheet.styles.css
  src/features/home/components/loginBottomSheet/LoginBottomSheet.tsx
  src/features/home/components/loginBottomSheet/StarBg.tsx
  src/features/home/components/loginBottomSheet/index.ts
  styles/theme/backgroundImage.ts
Labels: feature

#109 feat: naver oauth 테스트 및 마이너 수정
  next.config.js
  src/app/layout.tsx
  src/app/page.tsx
  src/assets/icons/auth/google.svg
  src/assets/icons/auth/kakao.svg
  src/assets/icons/auth/naver.svg
  src/components/molecules/loginIconSet/LoginIconSet.tsx
  src/constants/metadata.ts
Labels: feature

#111 feat: api 변경 내용 반영
  src/hooks/reactQuery/goal/useGetGoals.ts
Labels: feature

#108 feat: 마이페이지 API 연결
  src/features/home/components/lifeMap/LifeMap.tsx
  src/features/member/types/form.ts
  src/features/my/components/MyPageLayout.tsx
  src/features/my/components/userProfile/UserInfo.tsx
  src/features/my/components/userProfile/UserProfile.tsx
  src/features/my/utils/getDateDiffFromToday.ts
  src/features/my/utils/index.ts
Labels: feature

#107 feat: 목표 달성 기능 구현 (+스크롤 기능 제거)
  src/assets/icons/ellipsis-vertical.svg
  src/components/molecules/goalDetail/index.ts
  src/components/molecules/index.ts
  src/components/molecules/task/Task.stories.tsx
  src/components/molecules/task/Task.tsx
  src/components/molecules/task/index.ts
  src/features/goal/components/detail/AddTaskInput.tsx
  src/features/goal/components/detail/GoalDetailContent.tsx
  src/features/goal/components/detail/Tasks.tsx
  src/hooks/index.ts
  src/hooks/reactQuery/task/index.ts
  src/hooks/reactQuery/task/useCreateTask.ts
  src/hooks/reactQuery/task/useUpdateIsDone.ts
  src/hooks/useScrollOnTrigger.ts
Labels: feature

#106 feat: Toast 컴포넌트 추가
  .pnp.cjs
  .yarn/cache/@radix-ui-react-portal-npm-1.0.4-e4c93f6e90-10c0.zip
  package.json
  src/assets/icons/toast-success.svg
  src/assets/icons/toast-warning.svg
  src/components/atoms/toast/Toast.atom.ts
  src/components/atoms/toast/Toast.stories.tsx
  src/components/atoms/toast/Toast.tsx
  src/components/atoms/toast/ToastProvider.tsx
  src/hooks/useToast.ts
  yarn.lock
Labels: feature

#85 feat: 현재 페이지 이미지 다운로드 -> 전체 페이지 이미지 다운로드로 변경
  src/hooks/useDownloadImage.ts
Labels: feature

#112 feat: 이미지 저장 BottomSheet 컴포넌트 구현
  src/features/home/components/shareBottomSheet/Footer.tsx
  src/features/home/components/shareBottomSheet/ImageDownloadBottomSheet.tsx
  src/features/home/components/shareBottomSheet/ShareBottomSheet.tsx
  src/features/home/components/shareBottomSheet/ShareBottomSheetFooter.tsx
  src/hooks/useDownloadImage.ts
  src/utils/image.ts
Labels: feature

#114 bug: kakao 이미지 호스팅 경로 수정
  next.config.js
Labels: bug

#118 bug: 세부목표 Input 가려지는 문제 해결
  src/features/goal/components/detail/AddTaskInput.tsx
Labels: bug

#117 docs: 개인정보 처리 방침 문서 외부 링크 적용
  src/app/page.tsx
  src/constants/externalURL.ts
Labels: docs

#119 bug: 세부목표 페이지 세부 스타일 이슈 해결
  src/components/atoms/toast/Toast.tsx
  src/components/atoms/toast/ToastProvider.tsx
  src/contexts/Providers.tsx
  src/features/goal/components/detail/task/Task.tsx
  src/features/goal/components/detail/task/TaskEditInput.tsx
Labels: bug

#120 bug: 온보딩 페이지 레이아웃 이슈 해결
  src/app/onboarding/layout.tsx
  src/features/onboarding/components/onboardingBody/OnboardingBody.tsx
  src/features/onboarding/components/onboardingLayout/onboardingLayout.tsx
  src/features/onboarding/components/onboardingSwiper/OnboardingSwiper.tsx
Labels: bug

#121 bug: Portal에서 hydration 이슈 해결
  src/components/atoms/toast/ToastProvider.tsx
Labels: bug

#116 feat: 인생지도 공유 url 화면 추가
  src/app/home/[username]/error.tsx
  src/app/home/[username]/layout.tsx
  src/app/home/[username]/page.tsx
  src/app/home/[username]/startBg.tsx
  src/app/home/page.tsx
  src/app/oauth2/token/page.tsx
  src/assets/images/bandiboodi-public-error.png
  src/assets/images/error/lock.png
  src/features/auth/atom/index.ts
  src/features/customErrors/components/errorPageLayout/ErrorPageLayout.tsx
  src/features/customErrors/components/errorPageLayout/ResetButton.tsx
  src/features/goal/components/detail/DetailHeader.tsx
  src/features/goal/components/detail/SavedFooterButton.tsx
  src/features/goal/components/detail/SavedHeader.tsx
  src/features/goal/components/new/FormHeader.tsx
  src/features/home/components/lifeMap/LifeMap.tsx
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/home/components/lifeMap/PrivateLifeMap.tsx
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/features/member/components/new/NicknameInputForm.tsx
  src/features/member/contexts/NewMemberFormProvider.tsx
  src/features/my/components/MyPageHeader.tsx
  src/features/my/components/MyPageLayout.tsx
  src/hooks/reactQuery/auth/useGetMemberData.ts
  src/hooks/reactQuery/goal/useGetGoals.ts
  src/hooks/reactQuery/goal/useGetPublicGoals.ts
Labels: feature

#124 revert: "feat: 인생지도 공유 url 화면 추가"
  src/app/home/[username]/error.tsx
  src/app/home/[username]/page.tsx
  src/app/home/layout.tsx
  src/app/home/page.tsx
  src/app/home/startBg.tsx
  src/app/oauth2/token/page.tsx
  src/assets/images/bandiboodi-public-error.png
  src/assets/images/error/lock.png
  src/features/auth/atom/index.ts
  src/features/customErrors/components/errorPageLayout/ErrorPageLayout.tsx
  src/features/customErrors/components/errorPageLayout/ResetButton.tsx
  src/features/goal/components/detail/DetailHeader.tsx
  src/features/goal/components/detail/SavedFooterButton.tsx
  src/features/goal/components/detail/SavedHeader.tsx
  src/features/goal/components/new/FormHeader.tsx
  src/features/home/components/lifeMap/LifeMap.tsx
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/home/components/lifeMap/PrivateLifeMap.tsx
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/features/member/components/new/NicknameInputForm.tsx
  src/features/member/contexts/NewMemberFormProvider.tsx
  src/features/my/components/MyPageHeader.tsx
  src/features/my/components/MyPageLayout.tsx
  src/hooks/reactQuery/auth/useGetMemberData.ts
  src/hooks/reactQuery/goal/useGetGoals.ts
  src/hooks/reactQuery/goal/useGetPublicGoals.ts
Labels: chore

#125 revert: "revert: "feat: 인생지도 공유 url 화면 추가""
  src/app/home/[username]/error.tsx
  src/app/home/[username]/layout.tsx
  src/app/home/[username]/page.tsx
  src/app/home/[username]/startBg.tsx
  src/app/home/page.tsx
  src/app/oauth2/token/page.tsx
  src/assets/images/bandiboodi-public-error.png
  src/assets/images/error/lock.png
  src/features/auth/atom/index.ts
  src/features/customErrors/components/errorPageLayout/ErrorPageLayout.tsx
  src/features/customErrors/components/errorPageLayout/ResetButton.tsx
  src/features/goal/components/detail/DetailHeader.tsx
  src/features/goal/components/detail/SavedFooterButton.tsx
  src/features/goal/components/detail/SavedHeader.tsx
  src/features/goal/components/new/FormHeader.tsx
  src/features/home/components/lifeMap/LifeMap.tsx
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/home/components/lifeMap/PrivateLifeMap.tsx
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/features/member/components/new/NicknameInputForm.tsx
  src/features/member/contexts/NewMemberFormProvider.tsx
  src/features/my/components/MyPageHeader.tsx
  src/features/my/components/MyPageLayout.tsx
  src/hooks/reactQuery/auth/useGetMemberData.ts
  src/hooks/reactQuery/goal/useGetGoals.ts
  src/hooks/reactQuery/goal/useGetPublicGoals.ts
Labels: chore

#115 feat: 목표 생성, 목표 상세보기, 목표 삭제 후 현재 페이지 변경 로직 추가
  src/app/goal/detail/saved/page.tsx
  src/app/oauth2/token/page.tsx
  src/features/goal/components/detail/DeleteGoalBottomSheet.tsx
  src/features/goal/components/detail/DetailHeader.tsx
  src/features/goal/components/detail/SavedFooterButton.tsx
  src/features/goal/components/detail/SavedHeader.tsx
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/home/components/mapSwiper/MapSwiper.tsx
  src/features/member/contexts/NewMemberFormProvider.tsx
  src/hooks/reactQuery/goal/useDeleteGoal.ts
  src/hooks/reactQuery/goal/useGetGoals.ts
Labels: feature

#126 fix: ios에서 인생지도 다운로드 안되는 이슈 해결
  src/hooks/useDownloadImage.ts
Labels: bug

#123 feat: 정보 수정 페이지 추가
  src/app/my/update/layout.tsx
  src/app/my/update/page.tsx
  src/assets/icons/camera-icon.svg
  src/constants/input.ts
  src/features/goal/components/new/DateInput.tsx
  src/features/goal/components/new/TextInput.tsx
  src/features/my/components/MyPageHeader.tsx
  src/features/my/components/update/FormLayout.tsx
  src/features/my/components/update/Header.tsx
  src/features/my/components/update/ProfileImageButton.tsx
  src/features/my/components/update/UpdateForm.tsx
  src/features/my/components/update/index.ts
  src/features/my/contexts/UpdateMemberDataFormProvider.tsx
  src/features/my/types/form.ts
  src/features/my/types/index.ts
  src/hooks/reactQuery/auth/useCreateMemberData.ts
Labels: feature, pending

#127 feat: 로그인 안한 사용자가 상세 목표 조회 시 로그인 버튼 시트 출력
  src/features/home/components/MapCardCollections/MapCard/MapCard.tsx
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/features/home/components/loginBottomSheet/LoginBottomSheet.tsx
  src/features/my/components/logoutBottomSheet/Footer.tsx
Labels: feature

#130 bug: GoalForm에서 textfield 반영 안되는 문제 해결
  src/features/goal/components/new/GoalForm.tsx
  src/features/goal/components/new/GoalGuideBottomSheet.tsx
  src/features/goal/components/new/TextInput.tsx
  src/features/my/components/update/UpdateForm.tsx
Labels: bug

#133 bug: form 값이 없을 때 버그 수정
  src/features/my/components/update/UpdateForm.tsx
Labels: bug

#131 bug: 생년월일로 미래를 입력할 경우 disabled & toast 처리
  src/features/member/components/new/BirthInputForm.tsx
  src/features/my/components/update/UpdateForm.tsx
  src/hooks/useValidBirth.ts
Labels: bug

#135 fix: 사용자 정보 업데이트 시, 로컬스토리지도 업데이트 되도록 수정
  src/features/my/contexts/UpdateMemberDataFormProvider.tsx
  src/hooks/reactQuery/auth/useUpdateMemberData.ts
Labels: bug

#137 bug: ios에서 input 포커스될 때 화면이 확대되는 이슈 해결
  src/app/layout.tsx
Labels: bug

#136 bug: 내 지도인지 아닌지에 따라 세부목표 화면 일부 수정
  src/constants/storageKey.ts
  src/features/goal/components/detail/DetailHeader.tsx
  src/features/goal/components/detail/GoalDetailContent.tsx
  src/features/goal/components/detail/Tasks.tsx
  src/features/goal/components/detail/task/Task.tsx
  src/features/home/components/lifeMap/LifeMap.tsx
  src/hooks/index.ts
  src/hooks/useIsMyMap.ts
Labels: bug

#138 bug: 불필요한 텍스트, 이상한 텍스트 수정
  src/features/member/components/new/BirthInputForm.tsx
  src/features/member/components/new/NicknameInputForm.tsx
  src/features/my/components/withdrawBottomSheet/Footer.tsx
Labels: bug

#139 bug: 태그 폼 레이아웃 이슈 해결
  src/features/goal/components/new/TagForm.tsx
Labels: bug

#141 chore: 목표 삭제 바텀시트에 nickname 표시 및 스타일 수정
  src/features/goal/components/detail/DeleteGoalBottomSheet.tsx
Labels: chore

#143 feat: 응원보내기 버튼 ui 추가
  src/assets/icons/like-icon.png
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/features/like/LikeButton.tsx
Labels: feature

#140 bug: 세부목표 추가 스텝 부분 이슈 및 빠진 부분 추가
  src/components/atoms/toolTip/ToolTip.tsx
  src/features/goal/components/detail/SavedFooterButton.tsx
  src/features/goal/components/detail/SavedHeader.tsx
  src/features/goal/components/new/GoalForm.tsx
  src/features/goal/components/new/MoreForm.tsx
  src/features/goal/components/new/TextInput.tsx
Labels: bug

#145 revert: "feat: 목표 개수 / 응원 개수 ui 추가"
  src/assets/icons/divider.svg
  src/assets/icons/thumbs-icon.svg
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/home/components/lifeMap/LifeMapInfo.tsx
  src/utils/number.ts
Labels: chore

#146 revert: "feat: 응원보내기 버튼 ui 추가"
  src/assets/icons/like-icon.png
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/features/like/LikeButton.tsx
Labels: chore

#144 feat: 마이페이지 > 내가 받은 응원 페이지 ui 추가
  src/app/my/cheering/layout.tsx
  src/app/my/cheering/page.tsx
  src/assets/icons/map-icon.png
  src/features/cheering/Cheerer.tsx
  src/features/cheering/CheererList.tsx
  src/features/cheering/CheeringButton.tsx
  src/features/cheering/EmptyCheerer.tsx
  src/features/home/components/lifeMap/LifeMapInfo.tsx
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/features/my/components/MyPageLayout.tsx
  src/features/my/components/MyPageLifeMapInfo.tsx
  src/features/my/components/lifeMapPrivacySetting/LifeMapPrivacySetting.tsx
Labels: feature

#150 bug: bottom sheet content 스크롤 비정상 동작하는 문제 해결
  src/components/atoms/bottomSheet/BottomSheet.tsx
  src/components/molecules/selectableCardList/SelectableCardList.tsx
  src/features/goal/components/new/GoalGuideBottomSheet.tsx
Labels: bug

#149 bug: url로 직접 접근 시 버그 수정 (지도 공유, 마이페이지)
  src/features/customErrors/components/errorPageLayout/ResetButton.tsx
  src/features/home/components/lifeMap/LifeMap.tsx
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/features/my/components/MyPageLayout.tsx
  src/hooks/useIsMyMap.ts
Labels: bug

#151 style: 3 cols -> 2 cols로 디자인 변경
  src/features/my/components/update/ProfileImageBottomSheet.tsx
Labels: style

#152 fix: 공유 바텀시트 겹침 이슈 해결
  src/features/home/components/lifeMap/PrivateLifeMap.tsx
  src/features/home/components/shareBottomSheet/ImageDownloadBottomSheet.tsx
  src/features/home/components/shareBottomSheet/ShareBottomSheet.tsx
  src/features/home/components/shareBottomSheet/ShareBottomSheetFooter.tsx
Labels: bug

#153 bug: 불필요한 accessToken 체크 로직 삭제
  src/middleware.ts
Labels: bug

#155 bug: 빈 목표 카드 선택 시 목표 생성 화면으로 redirection
  src/features/home/components/MapCardCollections/EmptyMapCard/EmptyMapCard.tsx
Labels: bug

#154 fix: 태그 선택 시, 버튼이 안눌리는 이슈 해결
  src/features/goal/components/new/TagForm.tsx
Labels: bug

#156 bug: 남의 지도에서 빈 목표 카드 선택 시 사용자 상태에 따른 로직 분리
  src/features/home/components/MapCardCollections/EmptyMapCard/EmptyMapCard.tsx
Labels: bug

#157 chore: 로그인 바텀시트에 css 적용
  src/features/home/components/loginBottomSheet/LoginBottomSheet.tsx
Labels: chore

#158 chore: 로그인 바텀시트 스타일 수정
  src/features/home/components/loginBottomSheet/LoginBottomSheet.styles.css
Labels: chore

#159 fix: botttomSheet 전체에 적용된 css 아예 제거
  src/features/home/components/loginBottomSheet/LoginBottomSheet.tsx
Labels: bug

#160 fix: 목표 조각에 box shadow 제거
  src/features/home/components/MapCardCollections/MapCardLayout.tsx
Labels: bug

#163 bug: input 필드 선택 후 enter press 시 의도하지 않은 버튼이 클릭되는 이슈 해결
  src/features/goal/components/new/FormHeader.tsx
  src/features/goal/components/new/GoalForm.tsx
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/member/components/new/NicknameInputForm.tsx
  src/features/my/components/update/ProfileImageButton.tsx
Labels: bug

#164 refactor: 응원한 사람 페이지 app bar 분리 / 색상 토큰 추가
  src/app/my/cheering/layout.tsx
  src/features/cheering/CheererList.tsx
  src/features/goal/components/detail/AddTaskPrompt.tsx
  src/features/my/components/userProfile/ProfileCard.tsx
  styles/theme/colors.ts
Labels: refactor

#165 feat: 응원하기 개수 api 응답 값으로 수정
  src/features/home/components/lifeMap/LifeMapInfo.tsx
  src/hooks/reactQuery/goal/useGetGoals.ts
Labels: feature

#168 bug: 스플래시 화면에서 뒷 배경 길이 조절
  src/app/page.tsx
Labels: bug

#167 feat: 응원하기 개수 조회 api 연동
  src/features/my/components/MyPageLayout.tsx
  src/features/my/components/MyPageLifeMapInfo.tsx
  src/hooks/reactQuery/cheering/index.ts
  src/hooks/reactQuery/cheering/useGetCheeringCount.ts
Labels: feature
