Repository depromeet/amazing3-fe, pull requests merged in 2024-02, with the labels that each got.

#166 feat: 응원하기 api 연동
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/hooks/reactQuery/cheering/index.ts
  src/hooks/reactQuery/cheering/useCreateCheering.ts
  src/hooks/reactQuery/goal/useGetGoals.ts
  src/hooks/reactQuery/goal/useGetPublicGoals.ts
Labels: feature

#171 feat: 1분에 한 번만 응원하기 누를 수 있도록 구현
  src/constants/index.ts
  src/constants/time.ts
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/hooks/index.ts
  src/hooks/reactQuery/cheering/useCreateCheering.ts
  src/hooks/useThrottle.ts
Labels: feature

#170 Feat/cheering -> main 반영 전 최종 검토 및 버그 해결
  public/lotties/cheering-clicked.json
  public/lotties/spinner.json
  src/app/my/cheering/layout.tsx
  src/app/my/cheering/loading.tsx
  src/app/my/cheering/page.tsx
  src/assets/icons/divider.svg
  src/assets/icons/like-icon.png
  src/assets/icons/map-icon.png
  src/assets/icons/thumbs-icon.svg
  src/components/molecules/index.ts
  src/components/molecules/infiniteScroll/InfiniteScroller.tsx
  src/components/molecules/infiniteScroll/index.ts
  src/components/molecules/loading/Loading.tsx
  src/constants/index.ts
  src/constants/time.ts
  src/features/cheering/Cheerer.tsx
  src/features/cheering/CheererCount.tsx
  src/features/cheering/CheererHeader.tsx
  src/features/cheering/CheererList.tsx
  src/features/cheering/CheeringButton.tsx
  src/features/cheering/EmptyCheerer.tsx
  src/features/goal/components/detail/AddTaskPrompt.tsx
  src/features/home/components/MapCardCollections/EmptyMapCard/EmptyMapCard.tsx
  src/features/home/components/lifeMap/CheeringClicked.tsx
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/home/components/lifeMap/LifeMapInfo.tsx
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/features/home/utils/makeHomeDescription.ts
  src/features/member/types/form.ts
  src/features/my/components/MyPageLayout.tsx
  src/features/my/components/MyPageLifeMapInfo.tsx
  src/features/my/components/lifeMapPrivacySetting/LifeMapPrivacySetting.tsx
  src/features/my/components/userProfile/ProfileCard.tsx
  src/hooks/index.ts
  src/hooks/reactQuery/cheering/index.ts
  src/hooks/reactQuery/cheering/useCreateCheering.ts
  src/hooks/reactQuery/cheering/useGetCheerer.ts
  src/hooks/reactQuery/cheering/useGetCheeringCount.ts
  src/hooks/reactQuery/goal/useGetGoals.ts
  src/hooks/reactQuery/goal/useGetPublicGoals.ts
  src/hooks/useIntersectionObserver.ts
  src/hooks/useThrottle.ts
  src/utils/date.ts
  src/utils/localStorage.ts
  src/utils/number.ts
  src/utils/queryString.ts
  styles/theme/colors.ts
Labels: bug

#172 chore: 홈화면 meta 및 og 적용
  public/opengraph-image-lifeMap.png
  src/app/home/[username]/layout.tsx
  src/app/home/[username]/opengraph-image.tsx
  src/app/home/[username]/page.tsx
  src/app/layout.tsx
  src/constants/index.ts
  src/constants/ogImage.size.ts
  src/features/home/components/MapCardCollections/StartMapCard/StartMapCard.tsx
  src/utils/getMetadata.ts
Labels: chore

#174 chore: 홈화면 ogImage 롤백
  src/app/home/[username]/layout.tsx
  src/app/home/[username]/opengraph-image.tsx
  src/app/home/[username]/twitter-image.tsx
  src/utils/getMetadata.ts
Labels: chore

#175 bug: og에서 url 수정
  src/utils/getMetadata.ts
Labels: bug

#176 chore: meta 및 og 원복
  src/app/home/[username]/layout.tsx
  src/app/layout.tsx
  src/utils/getMetadata.ts
Labels: chore

#177 bug: 응원 리스트 요청 시 undefined가 아닌 경우에만 호출하도록 수정
  src/hooks/reactQuery/cheering/useGetCheerer.ts
Labels: bug

#178 bug: username에 BANDIBOODI가 포함된 경우 validation 실패 처리
  src/features/my/contexts/UpdateMemberDataFormProvider.tsx
Labels: bug

#184 refactor: 번들 사이즈 개선
  .pnp.cjs
  next.config.js
  package.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/global-error.tsx
  src/components/atoms/lottie/Lottie.tsx
  src/hooks/useDownloadImage.ts
  yarn.lock
Labels: refactor

#182 bug: 응원하기 성공 시에도 toast 뜨는 이슈 해결
  src/app/home/[username]/layout.tsx
  src/app/my/cheering/page.tsx
  src/app/oauth2/token/page.tsx
  src/app/page.tsx
  src/atoms/index.ts
  src/atoms/isLoggedIn.ts
  src/components/atoms/bottomSheet/BottomSheet.tsx
  src/components/atoms/input/Input.tsx
  src/components/atoms/toast/ToastProvider.tsx
  src/components/molecules/infiniteScroll/InfiniteScroller.tsx
  src/components/molecules/selectableCardList/SelectableCardList.tsx
  src/components/molecules/tabs/Tabs.tsx
  src/features/auth/atom/index.ts
  src/features/cheering/Cheerer.tsx
  src/features/cheering/CheererCount.tsx
  src/features/cheering/CheererHeader.tsx
  src/features/cheering/CheererList.tsx
  src/features/cheering/index.ts
  src/features/goal/components/new/GoalGuideBottomSheet.tsx
  src/features/home/components/MapCardCollections/EmptyMapCard/EmptyMapCard.tsx
  src/features/home/components/MapCardCollections/MapCard/MapCard.tsx
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/features/my/components/MyPageLayout.tsx
  src/features/my/components/logoutBottomSheet/Footer.tsx
  src/hooks/index.ts
  src/hooks/reactQuery/auth/useGetMemberData.ts
  src/hooks/reactQuery/goal/index.ts
  src/hooks/reactQuery/goal/useGetGoals.ts
  src/hooks/useAuth.ts
  src/hooks/useIsMyMap.ts
Labels: bug, refactor

#189 chore: 스토리북 배포 dev브랜치 추가
  .github/workflows/chromatic.yml
Labels: chore

#188 chore: memberData.nickname이 존재하는 경우에만 응원하기 가능하도록
  src/features/home/components/lifeMap/PublicLifeMap.tsx
Labels: chore

#183 refactor: 인생지도 페이지 성능 개선
  .pnp.cjs
  next.config.js
  package.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/fonts.ts
  src/app/global-error.tsx
  src/app/home/[username]/layout.tsx
  src/components/atoms/lottie/Lottie.tsx
  src/features/home/components/MapCardCollections/EmptyMapCard/EmptyMapCard.tsx
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/home/components/lifeMap/PrivateLifeMap.tsx
  src/features/home/components/lifeMap/PrivateLifeMapBottomArea.tsx
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/features/home/components/lifeMap/PublicLifeMapBottomArea.tsx
  src/features/home/components/mapSwiper/MapSwiper.tsx
  src/features/home/components/mapSwiper/index.ts
  src/features/home/components/shareBottomSheet/index.ts
  src/hooks/useDownloadImage.ts
  styles/theme/backgroundImage.ts
  yarn.lock
Labels: refactor
