Repository depromeet/amazing3-fe, pull requests merged in 2024-04, with the labels that each got.

#236 refactor: 오류 페이지 컴포넌트 리팩터링
  .vscode/settings.json
  src/app/error/page.tsx
  src/app/home/[username]/error.tsx
  src/app/not-found.tsx
  src/features/customErrors/components/DefaultErrorPage.tsx
  src/features/customErrors/components/errorPageLayout/ErrorPageLayout.tsx
  src/features/customErrors/components/errorPageLayout/ResetButton.tsx
  src/features/customErrors/components/errorPageLayout/StatusCodeError.tsx
  src/features/customErrors/components/errorPageLayout/index.ts
  src/features/customErrors/components/index.ts
Labels: refactor

#237 fix: 존재하지 않는 유저의 지도 접근시 홈화면으로 튀는 문제 해결
  src/app/home/[username]/error.tsx
  src/assets/images/error/close.png
Labels: bug

#232 feat: 응원한 사람 조회 api 응답 값 수정 반영 / 응원하기 성공 시에도 에러 토스트가 뜨는 버그 수정
  src/features/home/components/lifeMap/PublicLifeMapBottomArea.tsx
  src/hooks/reactQuery/cheering/useGetCheerer.ts
Labels: bug, feature

#238 fix: 다른 사람 타임라인 조회 시에도 동일한 타임라인만 조회되는 이슈 수정
  src/hooks/reactQuery/goal/useGetTimeline.ts
Labels: bug

#240 chore: ReactionUserTotalCount 컴포넌트 디자인 반영
  src/features/goal/components/detail/emoji/ReactionUserTotalCount.tsx
Labels: chore

#241 bug: 바텀시트 뒤로 toast가 뜨는 문제 해결
  src/components/atoms/toast/ToastProvider.tsx
Labels: bug

#242 bug: 댓글 리스트 조회 시 빨콩(HasNewComments) 바로 없어지지 않는 문제 해결
  src/features/comment/CommentsBottomSheet.tsx
  src/features/goal/components/detail/comment/AddCommentButton.tsx
  src/hooks/reactQuery/comment/useGetHasNewComment.ts
Labels: bug

#243 bug: 타임라인 댓글 작성 / 삭제 시, 댓글 개수가 반영되지 않는 이슈 수정
  src/hooks/reactQuery/comment/useCreateComment.ts
  src/hooks/reactQuery/comment/useDeleteComment.ts
Labels: bug

#245 refactor: 생년월일 입력 - 변경된 디자인 적용 및 리팩터링
  src/constants/date.ts
  src/constants/index.ts
  src/features/goal/components/new/DateForm.tsx
  src/features/goal/components/new/DateInput.tsx
  src/features/goal/utils/date.ts
  src/features/member/components/new/BirthInputForm.tsx
  src/features/my/components/update/UpdateForm.tsx
  src/hooks/index.ts
  src/hooks/useDateInput.ts
  src/utils/date.ts
Labels: refactor

#252 bug: 정보수정 페이지에서 birth 없이 수정 가능하도록
  src/features/goal/components/new/DateInput.tsx
  src/features/goal/utils/date.ts
  src/features/my/components/update/UpdateForm.tsx
  src/features/my/contexts/UpdateMemberDataFormProvider.tsx
  src/hooks/reactQuery/auth/useUpdateMemberData.ts
  src/utils/date.ts
Labels: bug

#251 feat: 내 지도 / 남 지도 타임라인 api 분리
  src/features/home/components/timeline/PrivateTimeline.tsx
  src/features/home/components/timeline/PublicTimeline.tsx
  src/features/home/components/timeline/Timeline.tsx
  src/features/home/hooks/useUpdateTimelineCommentCount.ts
  src/hooks/reactQuery/comment/useCreateComment.ts
  src/hooks/reactQuery/comment/useDeleteComment.ts
  src/hooks/reactQuery/goal/useGetPublicTimeline.ts
  src/hooks/reactQuery/goal/useGetTimeline.ts
Labels: feature

#254 bug: 댓글 리스트 조회 시 로딩 상태 처리
  src/components/molecules/index.ts
  src/features/comment/BottomSheet/CommentsBottomSheet.tsx
  src/features/comment/BottomSheet/Content.tsx
  src/features/comment/BottomSheet/Header.tsx
  src/features/comment/BottomSheet/Layout.tsx
  src/features/comment/BottomSheet/atom.ts
  src/features/comment/BottomSheet/styles/CommentBottomSheetLayout.styles.css
  src/features/comment/index.ts
  src/hooks/reactQuery/comment/useGetComment.ts
Labels: bug

#244 fix: 이미 존재하는 이모지를 + 버튼을 이용하여 새로 추가할 때 내가 반응한 이모지로 표기되지 않는 현상 수정
  src/features/feed/feedCard/reactionGroup/ReactedEmojiButton.tsx
  src/hooks/reactQuery/emoji/useCreateEmojiForFeed.ts
  src/hooks/reactQuery/emoji/useDeleteReactedEmojiForFeed.ts
Labels: bug

#257 bug: goalContent에서 나는 undefined 에러 대응
  src/features/comment/BottomSheet/Content.tsx
  src/features/goal/components/detail/GoalDetailContent.tsx
Labels: bug

#256 fix: 응원하기 버튼 클릭 후, 모든 버튼이 눌리지 않는 버그 수정
  src/features/home/components/lifeMap/PublicLifeMapBottomArea.tsx
  src/hooks/useThrottle.ts
Labels: bug

#258 feat: composeEventHandlers 추가
  src/components/atoms/input/Input.tsx
  src/utils/composeEventHandlers.ts
Labels: bug, feature

#260 bug: commentBottomSheet 마운트 시 input focus 제거
  src/features/comment/AddCommentInput.tsx
  src/features/comment/BottomSheet/Layout.tsx
Labels: bug

#253 feat: 페이지 전환 애니메이션 추가 / 로딩 개선
  public/lotties/bandiboodi-loading.json
  src/app/loading.tsx
  src/app/template.tsx
Labels: chore, feature

#259 fix: 목표 수정 화면 날짜 수정 필드에 validation이 적용 안되는 이슈 해결
  src/components/molecules/reactHookForm/RHFDateField.tsx
  src/features/goal/components/update/GoalUpdateForm.tsx
  src/utils/date.ts
Labels: bug

#262 fix: 남의 지도 프로필 누르면 내 프로필로 이동하는 버그 수정
  src/components/atoms/avatar/Avatar.tsx
  src/features/home/components/lifeMap/LifeMapContent.tsx
Labels: bug

#263 fix: goal detail 화면의 navigation이 비정상 동작하는 이슈 해결
  src/features/feed/feedCard/FeedCardBody.tsx
  src/features/goal/components/detail/DetailHeader.tsx
  src/features/goal/components/update/GoalUpdateForm.tsx
  src/features/home/components/MapCardCollections/MapCard.tsx
Labels: bug

#265 fix: 남의 지도에서 로그인 유도 화면을 통해 로그인 시 마이 페이지로 이동하는 이슈 해결
  src/app/oauth2/token/page.tsx
  src/components/molecules/loginIconSet/LoginIconSet.tsx
Labels: bug

#266 feat: 댓글 추가 시 스크롤 위치 조정
  src/features/comment/BottomSheet/Content.tsx
  src/features/comment/BottomSheet/Layout.tsx
  src/features/goal/components/detail/Tasks.tsx
  src/hooks/index.ts
  src/hooks/useScrollOnIncrease.ts
  src/hooks/useScrollOnTrigger.ts
Labels: feature

#261 fix: 타임라인에서 새로고침 시 지도 페이지로 이동하는 이슈 수정
  src/features/home/components/homeTab/HomeTab.tsx
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/hooks/useUpdateQueryString.ts
Labels: bug

#267 fix: cursor default로 보이던 문제 해결
  src/features/goal/components/detail/DetailHeader.tsx
Labels: chore

#271 fix: 타임라인 무한 스크롤이 안되는 이슈 수정
  src/hooks/reactQuery/goal/useGetPublicTimeline.ts
  src/hooks/reactQuery/goal/useGetTimeline.ts
Labels: bug

#273 fix: username 변경 사항이 없는 경우 체크 로직 무시
  src/features/my/contexts/UpdateMemberDataFormProvider.tsx
Labels: bug

#274 fix: 모바일뷰에서 양쪽 여백이 없어 답답해 보이는 문제 해결
  src/components/molecules/contentWrapper/ContentWrapper.tsx
  src/features/home/components/lifeMap/LifeMapContent.tsx
Labels: bug

#276 fix: Avatar에서 에러와 긴 이미지 대응
  src/assets/images/default-profile.png
  src/components/atoms/avatar/Avatar.stories.tsx
  src/components/atoms/avatar/Avatar.tsx
  src/components/molecules/comment/Comment.tsx
Labels: bug

#277 fix: 디자인 시안에 맞게 텍스트 수정
  src/features/feed/feedCard/FeedCardBody.tsx
  src/features/home/components/timeline/TimelineCardBody.tsx
Labels: bug

#283 fix: 이모지 바텀시트에서 프로필 이미지가 길어지는 문제 해결
  src/components/atoms/avatar/Avatar.tsx
  src/components/molecules/comment/Comment.tsx
  src/features/emoji/BottomSheet/ReactUser.tsx
Labels: bug
