Repository depromeet/amazing3-fe, pull requests merged in 2024-03, with the labels that each got.

#193 feat: 애플 로그인 추가
  src/app/page.tsx
  src/assets/icons/auth/apple.svg
  src/assets/icons/auth/google.svg
  src/assets/icons/auth/kakao.svg
  src/assets/icons/auth/naver.svg
  src/components/molecules/loginIconSet/LoginIconSet.tsx
Labels: feature

#195 feat: 온보딩 생년월일 입력 optional로 변경
  src/app/oauth2/token/page.tsx
  src/features/goal/components/new/DateInput.tsx
  src/features/member/components/new/BirthInputForm.tsx
  src/features/member/contexts/NewMemberFormProvider.tsx
  src/features/member/types/form.ts
  src/features/my/components/update/UpdateForm.tsx
  src/features/my/components/userProfile/UserProfile.tsx
  src/features/my/types/form.ts
  src/hooks/reactQuery/auth/useCreateMemberData.ts
  src/hooks/useValidBirth.ts
Labels: feature

#196 fix: 프로필 수정 시, birth가 null일 경우 발생하는 오류 수정
  src/features/my/components/update/UpdateForm.tsx
Labels: bug

#197 chore: sentry 추가
  .pnp.cjs
  .yarn/cache/@sentry-browser-npm-7.105.0-5385e09d35-10c0.zip
  .yarn/cache/@sentry-cli-npm-1.77.3-62c48f34ff-10c0.zip
  .yarn/cache/@sentry-core-npm-7.105.0-0fc1a84510-10c0.zip
  .yarn/cache/@sentry-integrations-npm-7.105.0-6ce4511d26-10c0.zip
  .yarn/cache/@sentry-internal-feedback-npm-7.105.0-8ea87567bd-10c0.zip
  .yarn/cache/@sentry-internal-replay-canvas-npm-7.105.0-43e154151c-10c0.zip
  .yarn/cache/@sentry-internal-tracing-npm-7.105.0-1c86540c09-10c0.zip
  .yarn/cache/@sentry-nextjs-npm-7.105.0-38043f0f8e-10c0.zip
  .yarn/cache/@sentry-node-npm-7.105.0-2605b095e4-10c0.zip
  .yarn/cache/@sentry-react-npm-7.105.0-10930bc0ce-10c0.zip
  .yarn/cache/@sentry-replay-npm-7.105.0-022a811da7-10c0.zip
  .yarn/cache/@sentry-types-npm-7.105.0-5df9ab3143-10c0.zip
  .yarn/cache/@sentry-utils-npm-7.105.0-d1453e6f36-10c0.zip
  .yarn/cache/@sentry-vercel-edge-npm-7.105.0-11bb4a6616-10c0.zip
  next.config.js
  package.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/global-error.tsx
  src/hooks/useDownloadImage.ts
  yarn.lock
Labels: chore

#201 chore: 프로덕션일때만 sentry 에러 캐치하도록 수정
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Labels: chore

#198 refactor: emojis → emojiGroup 리팩터링
  src/components/molecules/contentWrapper/ContentWrapper.tsx
  src/components/molecules/emojiGroup/EmojiGroup.stories.tsx
  src/components/molecules/emojiGroup/EmojiGroup.tsx
  src/components/molecules/emojiGroup/index.ts
  src/components/molecules/emojis/index.ts
  src/components/molecules/index.ts
  src/features/cheering/CheeringButton.tsx
  src/features/goal/components/detail/emoji/Emojis.tsx
Labels: refactor

#200 feat: 응원한 사람 중 탈퇴한 사용자인 경우 ui 수정
  src/assets/images/bandiboodi-deleted.svg
  src/features/cheering/Cheerer.tsx
  src/features/cheering/CheererList.tsx
  src/features/cheering/DeletedCheerer.tsx
Labels: feature

#190 chore: 피드 페이지를 위한 기본 구조 퍼블리싱
  src/app/feed/layout.tsx
  src/app/feed/page.tsx
  src/assets/icons/comment-icon.svg
  src/assets/icons/forward-icon.svg
  src/components/atoms/span/Span.tsx
  src/constants/time.ts
  src/features/feed/FeedBody.tsx
  src/features/feed/FeedHeader.tsx
  src/features/feed/feedCard/FeedCard.tsx
  src/features/feed/feedCard/FeedCardBody.tsx
  src/features/feed/feedCard/FeedCardHeader.tsx
  src/features/feed/feedCard/FeedCardLayout.tsx
  src/features/feed/index.ts
  src/features/my/components/MyPageBody.tsx
  src/features/my/components/MyPageLifeMapInfo.tsx
  src/hooks/reactQuery/goal/index.ts
  src/hooks/reactQuery/goal/useGetGoalFeeds.ts
  src/utils/date.ts
Labels: chore

#199 chore: 댓글 기능을 위한 퍼블리싱
  src/assets/icons/blue-comment-icon.svg
  src/assets/icons/trash-icon.svg
  src/components/atoms/bottomSheet/BottomSheet.tsx
  src/components/molecules/comment/Comment.stories.tsx
  src/components/molecules/comment/Comment.tsx
  src/components/molecules/comment/index.ts
  src/components/molecules/index.ts
  src/features/comment/AddCommentInput.tsx
  src/features/comment/CommentBottomSheetLayout.tsx
  src/features/comment/CommentsBottomSheet.tsx
  src/features/comment/EmptyComments.tsx
  src/features/comment/index.ts
  src/features/comment/styles/CommentBottomSheetLayout.styles.css
  src/features/goal/atoms/goalId.ts
  src/features/goal/atoms/index.ts
  src/features/goal/components/detail/AddTaskInput.tsx
  src/features/goal/components/detail/DetailLayout.tsx
  src/features/goal/components/detail/GoalDetailContent.tsx
  src/features/goal/components/detail/Tasks.tsx
  src/features/goal/components/detail/comment/AddCommentButton.tsx
  src/features/goal/components/detail/comment/index.ts
  styles/theme/boxShadow.ts
Labels: chore

#203 fix: 무한스크롤 한 번 스크롤 시 페이지 여러개 요청하는 버그 수정
  src/components/molecules/infiniteScroll/InfiniteScroller.tsx
  src/features/cheering/CheererList.tsx
  src/hooks/useIntersectionObserver.ts
  src/utils/generateId.ts
Labels: bug

#204 feat: 이모지 api 연동
  src/components/molecules/countEmoji/CountEmoji.stories.tsx
  src/components/molecules/countEmoji/CountEmoji.tsx
  src/components/molecules/index.ts
  src/components/molecules/skeleton/Skeleton.stories.tsx
  src/components/molecules/skeleton/Skeleton.tsx
  src/components/molecules/skeleton/index.ts
  src/features/comment/CommentBottomSheetLayout.tsx
  src/features/comment/styles/CommentBottomSheetLayout.styles.css
  src/features/emoji/BottomSheet/Content.tsx
  src/features/emoji/BottomSheet/ReactUser.tsx
  src/features/emoji/BottomSheet/ReactUserBottomSheet.tsx
  src/features/goal/atom/goalId.ts
  src/features/goal/atom/index.ts
  src/features/goal/components/detail/GoalDetailContent.tsx
  src/features/goal/components/detail/emoji/Emojis.tsx
  src/features/goal/components/detail/emoji/ReactedEmojis.tsx
  src/features/goal/components/detail/emoji/Reaction.tsx
  src/features/goal/components/detail/emoji/ReactionUserTotalCount.tsx
  src/hooks/reactQuery/emoji/index.ts
  src/hooks/reactQuery/emoji/useCreateEmoji.ts
  src/hooks/reactQuery/emoji/useDeleteReactedEmoji.ts
  src/hooks/reactQuery/emoji/useGetAllEmoji.ts
  src/hooks/reactQuery/emoji/useGetEmojiByGoal.ts
Labels: feature

#209 feat: 홈페이지 내 탭 메뉴 컴포넌트 구현
  .eslintrc.json
  src/assets/icons/home/feed-tab-active-icon.svg
  src/assets/icons/home/feed-tab-default-icon.svg
  src/assets/icons/home/map-tab-active-icon.svg
  src/assets/icons/home/map-tab-default-icon.svg
  src/features/home/components/homeTab/HomeTab.stories.tsx
  src/features/home/components/homeTab/HomeTab.tsx
  src/features/home/components/homeTab/HomeTabMenu.tsx
Labels: feature

#210 feat: 내 지도에서 프로필 이미지 -> 공유 버튼으로 변경
  src/assets/icons/share.svg
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/home/components/lifeMap/PrivateLifeMap.tsx
  src/features/home/components/lifeMap/PrivateLifeMapBottomArea.tsx
  src/features/home/components/lifeMap/PublicLifeMap.tsx
  src/features/home/components/shareBottomSheet/ShareBottomSheet.tsx
  src/features/home/components/shareBottomSheet/ShareBottomSheetFooter.tsx
  src/features/home/components/shareButton/ShareButton.tsx
Labels: feature

#214 refactor: 이모지 관련 컴포넌트 중 필요한 모듈만 import하도록
  src/features/emoji/BottomSheet/Content.tsx
  src/features/emoji/BottomSheet/Header.tsx
  src/features/emoji/BottomSheet/ReactUserBottomSheet.tsx
Labels: refactor

#215 bug: 이모지 추가 로직 중 낙관적 업데이트 제거
  src/hooks/reactQuery/emoji/useCreateEmoji.ts
Labels: bug

#221 fix: 응원한 사람 프로필 이미지 높이 깨지는 현상 수정
  src/features/cheering/Cheerer.tsx
Labels: bug

#220 fix: 남 지도에서 공유 버튼을 -> 프로필 이미지로 변경
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/home/components/lifeMap/PublicLifeMap.tsx
Labels: bug

#222 bug: 이모지 totalReactUserCount 값 추가 및 적용
  src/features/goal/components/detail/emoji/Reaction.tsx
  src/hooks/reactQuery/emoji/useGetEmojiByGoal.ts
Labels: bug

#212 chore: 내 지도 스타일 변경
  src/components/molecules/contentWrapper/ContentWrapper.tsx
  src/features/home/components/MapCardCollections/MapCard.tsx
  src/features/home/components/lifeMap/LifeMapInfo.tsx
  src/hooks/reactQuery/goal/useGetGoals.ts
Labels: chore

#219 feat: 홈 화면 - 지도 탭 추가
  src/app/home/[username]/layout.tsx
  src/app/my/layout.tsx
  src/features/home/components/homeTab/HomeTab.tsx
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/home/components/lifeMap/LifeMapInfo.tsx
  src/features/home/components/lifeMap/Map.tsx
Labels: feature

#225 feat: 타임라인 탭 ui 구현
  src/assets/images/bandi-boodi-gray.png
  src/features/home/components/lifeMap/LifeMapContent.tsx
  src/features/home/components/timeline/EmptyTimeline.tsx
  src/features/home/components/timeline/Timeline.tsx
  src/features/home/components/timeline/TimelineCard.tsx
  src/features/home/components/timeline/index.ts
  src/hooks/reactQuery/goal/useGetTimeline.ts
  src/utils/date.ts
Labels: feature

#229 chore: emoji-ReactionUserTotalCount 컴포넌트에 변경된 디자인 반영
  src/assets/icons/arrow-icons.svg
  src/features/emoji/BottomSheet/Header.tsx
  src/features/goal/components/detail/emoji/ReactionUserTotalCount.tsx
  src/utils/string.ts
  src/utils/suffix.ts
Labels: chore

#224 feat: 피드 페이지 API 연결
  src/features/feed/FeedBody.tsx
  src/features/feed/feedCard/FeedCard.tsx
  src/features/feed/feedCard/FeedCardBody.tsx
  src/features/feed/feedCard/reactionGroup/Emojis.tsx
  src/features/feed/feedCard/reactionGroup/ReactedEmojiButton.tsx
  src/features/feed/feedCard/reactionGroup/ReactionGroup.tsx
  src/hooks/reactQuery/emoji/useCreateEmojiForFeed.ts
  src/hooks/reactQuery/emoji/useDeleteReactedEmojiForFeed.ts
  src/hooks/reactQuery/goal/useGetGoalFeeds.ts
Labels: feature

#230 fix: 바텀시트에 하단탭바가 올라가는 이슈 해결
  src/components/atoms/bottomSheet/style.css
Labels: bug

#231 feat: 타임라인 조회 api 반영
  src/features/home/components/timeline/Timeline.tsx
  src/features/home/components/timeline/TimelineCard.tsx
  src/features/home/components/timeline/TimelineCardBody.tsx
  src/hooks/reactQuery/goal/useGetTimeline.ts
Labels: feature
